{
  "presets": ["react", "latest"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "presets": [
        "react",
        ["latest", { "modules": false }]
      ]
    }
  }
}
