// @import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url('https://fonts.googleapis.com/css?family=Biryani:400,800,900');

$main-bg-color: #000;
$text-color: #fff;
$accent-blue: #00a9e0;
$darker-blue: #0057b8;
$accent-red: #e4002b;

$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;

@mixin break {
  @media screen and (min-width: 501px) {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: $main-bg-color;
}

body {
  height:              100%;
  padding:             0;
  margin:              0;
  overflow-x:          hidden;
  font-family:         'Biryani', sans-serif;
  background-color:    rgba(#111, 0.3);
  background-image:    url('../../static/silkscreen.svg'),
                       url("../../static/sparkler-min.jpg");
  background-position: left top, center;
  background-repeat:   repeat, no-repeat;
  background-size:     2px, cover;
  color:               $text-color;
}

a {
  cursor: pointer;
}

#root {
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin:    0 auto;
  padding:   2em 1em 0;
}

.main-app-nav {
  h1 {
    font-weight:      900;
    display:          inline-block;
    margin:           0 0 0 -0.4em;

    line-height:      1.3;

    padding:          0.2em 0.4em 0;
    background-color: $accent-blue;
  }

  .background-red {
    background-color: $accent-red;
    margin-left:      -0.2em;
  }

  .background-dark {
    background-color: $main-bg-color;
  }

  @include break {
    font-size: 1.3em;
  }
}

.ideas-container {
  position: relative;
}

.idea-intro {
  font-weight: 900;
}

.idea-text {
  margin:      0 0 0.6em;
  font-size:   2em;
  font-weight: 900;
  line-height: 1.2;
  outline:     none;

  @include break {
    font-size: 3em;
  }
}

.idea-buttons {
  display:        flex;
  flex-direction: column;

  @include break {
    flex-direction: row;
    flex-wrap:      wrap;
  }
}

%button {
  transition:      0.2s;

  border-radius:   3px;
  padding:         0.7em 0.5em 0.5em;
  font:            800 1.5em/1.2 'Biryani', sans-serif;
  text-decoration: none;
  text-align:      center;
}

.idea-button {
  @extend %button;

  flex:             1;

  margin-bottom:    1em;
  border:           none;
  background-color: $darker-blue;
  color:            #fff;

  &:hover {
    background-color: $accent-blue;
  }

  @include break {
    flex:         1 0 40%;
    margin-right: 1em;
  }
}

.idea-button--accent {
  background-color: $accent-blue;

  &:hover {
    color:            $accent-blue;
    background-color: #fff;
  }
}

// transition
.slide-enter, .slide-leave {
  transition: left 1s;
}

.slide-enter {
  position: relative;
  left:     110%;
}

.slide-enter-active {
  left: 0;
}

.slide-leave {
  position: absolute;
  left:     0;
  top:      0;
}

.slide-leave-active {
  left: -110%;
}

footer {
  padding-top: 8em;
  a {
    text-decoration: none;
  }
}

.start-over {
  button {
    @extend %button;

    display:          inline-block;
    border:           none;
    text-transform:   uppercase;
    background-color: #111;
    color:            inherit;

    &:hover {
      background-color: #000;
    }
  }

}

.credit {
  a {
    background-color: $accent-red;
    display:          inline-block;
    padding:          0 0.3em;
    line-height:      1.4;
    color:            #fff;
    transition:       0.1s;

    &:hover {
      background-color: #fff;
      color:            $darker-blue;
    }
  }
}
