// @import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url('https://fonts.googleapis.com/css?family=Biryani:400,800,900');

$main-bg-color: #000000;
$text-color: #ffffff;
$accent-blue: #00A9E0;
$darker-blue: #0057B8;
$accent-red: #E4002B;


$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;


html {
  min-height: 100%;
}

body {
  background-color: $main-bg-color;
  background: url("/static/sparkler.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: $text-color;

  position: relative;

  display: flex;
  flex-direction: column;
  // justify-content: center;

  font-family: 'Biryani', sans-serif;
  position: relative;
  padding: 0;
  margin: 0;

  overflow-x: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#111, 0.3);
    z-index: -1;
  }
}

a {
  cursor: pointer;
}

.main-app-container {
  padding: 2em 1em 0;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-app-nav {
  h1 {
    font-weight: 900;
    display: inline-block;
    margin: 0;
    margin-left: -0.4em;

    line-height: 1.3;

    padding: 0.2em 0.4em 0;
    background-color: $accent-blue;
  }

  .background-red {
    background-color: $accent-red;
    margin-left: -0.2em;
  }
  .background-dark {
    background-color: $main-bg-color;
  }
}


.idea-container {
  padding-top: 2em;
}

.idea-intro {
  font-weight: 900;
}

.idea-text {
  font-size: 2em;
  font-weight: 900;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 0.6em;
  outline: none;
}

.idea-buttons {
  flex-wrap: wrap;
}

%button {
  font-family: 'Biryani', sans-serif;
  padding: 0.7em 0.5em 0.5em;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}

.idea-button {
  @extend %button;
  align-items: center;
  background-color: $darker-blue;
  border: none;
  color: #fff;
  display: flex;
  flex: 1 0 40%;
  justify-content: center;
  line-height: 1.4;
  margin-bottom: 1em;
  width: 100%;

  &:hover {
    background-color: $accent-blue;
    cursor: pointer;
  }
}

.idea-button--accent {
  background-color: $accent-blue;

  &:hover {
    color: $accent-blue;
    background-color: #fff;
  }
}

.ideas-container {
  flex-grow: 1;
  position: relative;
}

// transition
.slide-enter, .slide-leave {
  transition: 1000ms;
  width: 100%;
}
.slide-enter {
  position: relative;
  left: 110vw;
}
.slide-enter-active {
  left: 0;
}
.slide-leave {
  position: absolute;
  left: 0;
  top: 0;
}
.slide-leave-active {
  left: -110vw;
}





footer {
  padding-top: 5em;
  text-align: center;

  a {
    text-decoration: none;
  }
}

.start-over-button {
  @extend %button;
  background-color: #000;
  border: none;
  color: inherit;
  display: inline-block;
  margin-bottom: 2em;
  padding: .7em 1em .5em;
  text-transform: uppercase;

  &:hover {
    background-color: #222;
    cursor: pointer;
  }
}

.credit {
  text-align: left;

  a {
    background-color: $accent-red;
    display: inline-block;
    padding: 0 0.3em;
    line-height: 1.4;
    color: #fff;
    transition: 0.1s;

    &:hover {
      background-color: #fff;
      color: $darker-blue;
    }
  }
}

@media screen and (min-width: 501px) {
  .main-app-nav {
    font-size: 1.3em;
  }

  .idea-text {
    font-size: 3em;
    outline: none;
  }

  .idea-buttons {
    display: flex;
  }

  .idea-button {
    margin-right: 1em;
  }
}
